// # Variables
$themeColor: hsl(120, 50%, 80%);
$themeColorLight: hsl(120, 50%, 88%);
$themeColorDark: hsl(120, 50%, 72%);
$backgroundColor: #fff;
$focusColor: rgb(77, 144, 254);
$invalidColor: red;

$bodyFontFamily: 'Open Sans', sans-serif;
$headingFontFamily: 'Aref Ruqaa', 'serif';
// Google fonts include: <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Open+Sans">

$formInputPadding: 0.4em;
$formInputBorderWidth: 0.1em;
$commonMargin: 0.5em;


// # Stylin'
body {
  background-color: $backgroundColor;
  font-family: $bodyFontFamily;
  margin: 0;
  padding: 0;
}

header {
  background-color: $themeColor;
  padding: 0.5em;
  margin: 0 0 1em 0;

  h1 {
    font-family: $headingFontFamily;
    font-size: 2em;
    text-align: center;
    margin: 0;
  }
}

form {
  // Overall layout
  .inputs, .output-text {
    max-width: 30em;
    margin: 1em auto;
  }
  .output-text {
    border-top: thin solid #bbb;
  }
  .field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: $commonMargin;
  }

  // Layout items on the left
  label {
    min-width: 10em;
  }

  // Layout items on the right
  input, .button-container, output {
    width: 10em;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
  }
  .button-container {
    display: block;
    margin: $commonMargin;
    margin-left: auto;
  }

  // Unique element styles
  button {
    display: block;
    margin: auto;
    svg {
      width: 1em;
      height: 1em;
    }
  }
  .output-text output {
    text-align: left;
    padding: 0.2em calc(#{$formInputPadding} + #{$formInputBorderWidth});
  }

  // Graphical output layout
  .output-graphic {
    max-width: 57em;
    margin: 0 auto;

    output {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    canvas {
      display: block;
    }
  }
}

// # General element theming

input {
  padding: $formInputPadding;
  border-width: $formInputBorderWidth;
  box-sizing: border-box;
  font-size: 1em;
  font-family: $bodyFontFamily;
  &:focus {
    outline-color: $focusColor;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }
  &:invalid {
    outline-color: $invalidColor;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }
}

button {
  padding: 0.4em 1em;
  background-color: $themeColor;
  border: 0;
  border-radius: 0.5em;
  font-family: inherit;
  font-weight: bold;
  &:hover {
    background-color: $themeColorLight;
  }
}
